<a href="https://colab.research.google.com/github/lucasmoratof/tutorials/blob/master/Web_Scraping_for_Begginers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Introduction to web scraping in python

This notebook is part of a tutorial article that you can find on my profile:

https://medium.com/@lmmfrederico

In [0]:
# importing the libraries
from bs4 import BeautifulSoup
import requests

import pandas as pd

In [32]:
# using request to get the HTML data
r= requests.get('http://books.toscrape.com/')

# creating the soup, that will read the document and provide access to the information
soup = BeautifulSoup(r.text, 'html.parser')

# now our results will include information about each book
results = soup.find_all(attrs={'class':'product_pod'})

# let's check how many results we got
len(results)

20

### Exploring the first book to get name and price

In [4]:
first_book = results[0]
first_book

<article class="product_pod">
<div class="image_container">
<a href="catalogue/a-light-in-the-attic_1000/index.html"><img alt="A Light in the Attic" class="thumbnail" src="media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg"/></a>
</div>
<p class="star-rating Three">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="catalogue/a-light-in-the-attic_1000/index.html" title="A Light in the Attic">A Light in the ...</a></h3>
<div class="product_price">
<p class="price_color">Â£51.77</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>

In [11]:
# getting title name
first_book.h3.a.get('title')

'A Light in the Attic'

In [17]:
# getting book's price
first_book.find('p', class_="price_color").text[2:] # selecting from the 3rd charcater on to get just the price number

'51.77'

In [0]:
# creating the lists for names and prices
names= []
prices= []

# Define the range of pages to work
pages = [str(i) for i in range(1,51)] # range is exclusively, that's why we need to add 1 to the final number we want

for page in pages:
  response= requests.get('http://books.toscrape.com/catalogue/page-' + page + '.html')

  page_html = BeautifulSoup(response.text, 'html.parser')

  book_containers= page_html.find_all(attrs={'class':'product_pod'})

  for book in book_containers:
    names.append(book.h3.a.get('title'))
    prices.append(book.find('p', class_="price_color").text[2:])

In [30]:
# creating the data frame with the lists

books_df= pd.DataFrame(list(zip(names, prices)), columns=['titles','prices (£)'])

books_df.head()

                                  titles prices (£)
0                   A Light in the Attic      51.77
1                     Tipping the Velvet      53.74
2                             Soumission      50.10
3                          Sharp Objects      47.82
4  Sapiens: A Brief History of Humankind      54.23